/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Fuzzy Bubbles', cursive;
}
/* COMMON */
body {
    background-image: url(../img/wallpaper.jpg);
}

.container {
    max-width: 600px;
    min-height: 600px;
    background-color: white;
    margin: 0 auto;
    margin-top: 5rem;
    box-shadow: 0 0 5px 5px lightblue;
}
/* HEADER */
header {
    height: 100px;
    text-align: center;
}

#title {
    padding-top: 1rem;
}

#add-task {
    padding: .5rem;
}

#task-btn {
    padding: .4rem;
    font-size: 1rem;
}

/* MAIN */
main {
    width: 500px;
    margin: 0 auto;
}

#task-list {
    width: 100%;
    padding: 0 1rem;
    list-style-type: decimal;
    margin-top: 2rem;
    border: 1px solid lightblue;
    border-radius: 5px;
}

#task-list li {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel {
    color: red;
    font-size: 1.4rem;
}